<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>photo</title>
    </head>
    <body>
        <% result.forEach((photo)=>{%>

                <img src="data:image/jpeg;base64,<%= photo %>" height="400" width="300">
        <%})%>
    </body>
</html>
